Repository singularity-energy/open-grid-emissions, pull requests merged in 2024-05, with the labels that each got.

#295 Expand historical coverage pre-2019
  src/oge/constants.py
  src/oge/data_cleaning.py
  src/oge/data_pipeline.py
  src/oge/download_data.py
  src/oge/output_data.py
  src/oge/validation.py
Labels: new feature, data cleaning, data inputs

#362 Add 2005, 2006 and 2007 years
  src/oge/download_data.py
  src/oge/load_data.py
  src/oge/reference_tables/emission_factors_for_co2_ch4_n2o.csv
  src/oge/reference_tables/energy_source_groups.csv
Labels: documentation, new feature, data inputs

#364 Add geographical information to the plant static attributes data frame
  src/oge/column_checks.py
  src/oge/data_pipeline.py
  src/oge/helpers.py
  src/oge/load_data.py
Labels: data outputs
